body{
	margin:0px;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica; 
  font-weight: 300;
}

#base{
  min-height: calc(100% - 64px);
}
input:focus{
	outline: 0;
}
form{
	margin:0px;
}

#base{
  padding-left: 0px;
}

.default-table thead tr, .default-table{
  border-bottom: none !important;
}

table thead th, table tfoot tr th {
  padding-left: 8px !important;
}

/* background pattern light */
.headerbar, .card-head.style-primary.card-head-sm {
  background: #303030 url(../images/pattern-light-grey.png) 0 0;
}
.headerbar {
  text-align: center;
  padding-top: 16px;
  font-size: 20px;
  color: white;
}

select.tfoot-select {
  width: 100%;
}
button.ready.loading-btn {
  display: none; 
  position: absolute;
  left: 0;
  width: 200px;
  top: 7px;
  right: 0px;
  margin: auto;
  opacity: 1;
  background: #31aa2c;
  color: white;
  border-color:#31aa2c; 
}
.uppercase{
  text-transform: uppercase;
}

label.select-label {
  width: 100%;
}
input#search {
  padding-top: 12px;
  /*margin-left: 20px;*/
  color: white;
  opacity: 1;
  border-color: white;
  min-width: 130px;
}

.tools.pull-left.width-50 {
  max-width: 290px;
  width: 50%;
}
.flex{
  display: flex;
}
button.btn.btn-icon-toggle.ink-reaction.game-search {
  margin-top: 8px;
  left: 4px;
  font-size: 18px;
  width: 40px;
}
section {
  padding-bottom: 2px;
}

@media (max-width: 768px) {  
  #content{
    padding-top: 0px;
  }

  .form-group.fg-other {
    margin-bottom: 40px;
  }
  .card-body.default-card-body {
    padding-left: 0px;
    padding-right: 0px;
  }
}
@media (max-width: 320px) {
  section {
    padding-left: 0px;
    padding-right: 0px;
  }
}