body{
	margin:0px;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica; 
  font-weight: 300;
}

#base{
  min-height: calc(100% - 64px);
}
input:focus{
	outline: 0;
}
form{
	margin:0px;
}

#base{
  padding-left: 0px;
}

.default-table thead tr, .default-table{
  border-bottom: none !important;
}

table thead th, table tfoot tr th {
  padding-left: 8px !important;
}

/* background pattern light */
.headerbar, .btn.btn-primary.main-btn, .btn-primary.transfer-page, button.ink-reaction.btn.btn-flat.btn-sm.btn-default-dark.each-form-btn.btn-primary, button.ink-reaction.btn.btn-flat.btn-sm.btn-default-dark.each-form-btn.btn-primary:hover, .filter-label.no-bg, .dropdown.open a.dropdown-toggle.ink-reaction.profile-a, #timesheet-table thead tr th, #menubar.menubar-inverse:before, button#prev-btn, .saved-timesheets-convert, .card-head.style-primary.card-head-sm {
  background: #303030 url(../images/pattern-light-grey.png) 0 0;
}

.headerbar {
  color: white;
}

.header-nav .header-nav-brand .brand-holder {
  display: table-cell;
  vertical-align: middle;
}

.header-logo.login-page {
  position: relative;
  right: 0;
  top: -20px;
  float: left;
}
select.tfoot-select {
  width: 100%;
}
button.map-loading-btn.ready.loading-btn {
  display: none; 
  position: absolute;
  left: 0;
  width: 200px;
  top: 7px;
  right: 0px;
  margin: auto;
  opacity: 1;
  background: #31aa2c;
  color: white;
}
.uppercase{
  text-transform: uppercase;
}
.loading-btn.btn.btn-info.btn-transparent.btn-block.btn-loading-state {
  z-index: 1051;
  position: absolute;
  background-color: green !important;
  color: white;
  opacity: 1;
  width: 200px;
  margin: auto;
  left: 0;
  right: 0;
  top: 80px;
  display: none;
  font-weight: 600;
}


label.select-label {
  width: 100%;
}
input#search {
  padding-top: 12px;
  /*margin-left: 20px;*/
  color: white;
  opacity: 1;
  border-color: white;
  min-width: 130px;
}
.header-div {
  text-align: center;
  font-size: 20px;
  padding-top: 15px;
  text-transform: capitalize;
}
.tools.pull-left.width-50 {
  max-width: 290px;
  width: 50%;
}
.flex{
  display: flex;
}
button.btn.btn-icon-toggle.ink-reaction.game-search {
  margin-top: 8px;
  left: 4px;
  font-size: 18px;
}

@media (max-width: 768px) {
  .headerbar-right {
    display: none;
  }
  #content{
    padding-top: 0px;
  }

  .form-group.fg-other {
    margin-bottom: 40px;
  }
  .card-body.default-card-body {
    padding-left: 0px;
    padding-right: 0px;
  }
}
@media (max-width: 320px) {
  section {
    padding-left: 0px;
    padding-right: 0px;
  }
}